<!--The content below is only a placeholder and can be replaced.-->
<div class=" col-11 mx-auto bg-light rounded">
  <div class="row mx-1">
    <h4 class=" col-3">Github Battle</h4>
    <ul class="nav col-5 ml-auto">
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link" href="#!">Battle</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/rankings']" class="nav-link" href="#!">Rankings</a>
      </li>

    </ul>
  </div>
  <div class="col-11 mx-auto">
    <router-outlet></router-outlet>
  </div>
</div>